[user]
	name = Dylan Reimer
	# email = dyr@amazon.com
	# email = dylanreimer@berkeley.edu
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[credential]
	# username = dyr
	# username = dylanreimer
[init]
	defaultBranch = main
[safe]
	directory = /Users/dyr/dev/partiql-lang-kotlin
