<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>9617FBAA-46FA-4D46-9A35-51188ADD3B68</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dyr</string>
			<key>text</key>
			<string>dyr.sh</string>
			<key>url</key>
			<string>https://{query}.dyr.sh</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
